h1 {
color: white;
background: orangered;
border: solid;
border-color: black;
border-size: 20px;
padding: 10px;
font-family: Fredoka One;
margin: 0px;
font-weight: normal;
text-align: center;
}

hr{
margin: 0px;
}

body {
background: grey;
margin: 0px;
}

h2 {
color: darkorange;
background: rgb(0, 0, 0);
border-size: 15px;
padding: 7px;
font-family: Fredoka One;
margin: 0px;
font-weight: normal;
text-align: center;
}

p{
font-family: Fredoka;
margin: 0px;
padding: 8px;
background: rgb(94, 94, 94);
}

a {
transition-duration: 0.1s;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: white;
border: solid;
background: #ff7300;
margin: 0px;
font-family: Fredoka;
width:100%;
display:block;
}

a:hover {
background: white;
color: #ff7300;
border-color: #ff7300;
}