.MainTitle {
color: rgb(255, 0, 0);
background: black;
padding: 10px;
font-size: 50px;
margin: 0px;
text-align: center;
font-family: Fredoka One;
font-weight: normal;
}

hr{
margin: 0px;
}

body, html{
background: grey;
margin: 0px;
padding: 0px;
}

img{
background: rgb(94, 94, 94);
border-radius: 20px;
}

.GameTitle {
color: white;
background: black;
font-family: Fredoka One;
font-weight: normal;
padding: 10px;
margin: 0px;
text-align: center;
}

.GameDesc {
background: rgb(94, 94, 94);
font-family: Fredoka;
padding: 30px;
margin: 0px;
}

a {
transition-duration: 0.1s;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: white;
border: solid;
background: #4400ff;
margin: 10px;
font-family: Fredoka;
width:100%;
margin: 0px;
display:block;
box-sizing: border-box;
}

a:hover {
background: white;
color: #4400ff;
border-color: #4400ff;
}