h1 {
color: limegreen;
background: black;
padding: 7px;
font-size: 50px;
margin: 0px;
text-align: center;
font-family: Fredoka One;
font-weight: normal;
}

body, html{
background: grey;
margin: 0px;
padding: 0px;
}

img{
background: rgb(94, 94, 94);
border-radius: 20px;
}

h2 {
color: white;
background: black;
border-color: white;
font-family: Arial, Helvetica, sans-serif;
padding: 10px;
margin: 0px;
}

p {
background: rgb(94, 94, 94);
font-family: Arial, Helvetica, sans-serif;
padding: 15px;
margin: 0px;
font-family: Fredoka;
}